<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
        </header>
        <main>
            <div class="trip-form">
                <div class="form-container">
                    <div class="form-item">
                        <label for="destination">My trip to:</label>
                        <input type="text" id="destination" placeholder="Enter Location">
                    </div>
                    <div class="form-item">
                        <label for="start-date">Departing:</label>
                        <input type="text" id="start-date" placeholder="DD/MM/YYYY">
                    </div>
                    <button class="trip-form-button">
                        Let's Go!!
                    </button>
                </div>
            </div>
            <div class="my-trips">

            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
