@import '~flatpickr/dist/themes/light.css';

header{
    background-color: #32064A;
    padding: 30px;
    h1 {
        color: white;
        text-align: center;
        font-size: 40px;
        letter-spacing: 2px;
    }
}

main {
    display: flex;
    flex-direction: column;
    color: #32064A;
}

.my-trips {
    margin:auto;
    margin-bottom: 100px;
        /* mobile */
        @media only screen and (min-width : 320px) {
            width: 100%;
        }

        /* tablet */
        @media only screen and (min-width : 768px) {
            width: 80%;
        }


        /* desktop */
        @media only screen and (min-width : 1224px) {
            width: 70%;
        }    
    .trip-item-container {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        /* mobile */
        @media only screen and (min-width : 320px) {
            padding: 5px;
        }

        /* tablet */
        @media only screen and (min-width : 768px) {
            padding: 10px;
        }


        /* desktop */
        @media only screen and (min-width : 1224px) {
            padding: 50px;
        }
        display:flex;
        flex-direction: column;
        .trip-item-header {
            display:flex;
            .taglines{
                .static {
                    font-size: 16px;
                    align-self: center;
                    margin-right:5px;
                    color: #32064A;
                }
                .header1, .header2 {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    display:flex;
                    color: #E56B1f;
                }
                .header2 {
                    padding-bottom: 5px;
                    font-size:20px;
                }
            }
            .flag {
                img {
                    width: 100%;
                    border: 1px solid grey;
                }
                width: 100px;
                align-self: center;
                margin-right:20px;
            }
        }
        .trip-item {
            display:flex;
            /* tablet & mobile */
            @media only screen and (min-width : 320px) {
                flex-direction: column;
            }
            /* desktop */
            @media only screen and (min-width : 1224px) {
                flex-direction: row;
            }
            .location-info {
                .header-with-background {
                    font-size: 25px;
                    font-weight: bold;
                    display: inline-block;
                    margin-top: 20px;
                    color: #E56B1f;
                }
                .fun-facts {
                    margin-left:30px;
                    margin-top: 5px;
                    list-style: circle !important;
                    list-style-type: circle !important;
    
                    li {
                        font-size:20px;
                        margin-bottom: 2px;
                        
                    }
                }
                .weather-item {
                    margin-top:10px;
                    margin-left:10px;
                    .weather-item-data {
                        display:flex;
                        .temp:nth-of-type(2) {
                            margin-left:20px;
                            border-left:1px solid #E56B1f;
                            padding-left:20px;
                        }
                        .temp {
                            .label {
                                display: inline-block;
                                border-bottom: 2px solid #E56B1f;
                            }
                            .value {
                                font-size: 20px;
                                margin-top: 5px;
                                .celcius {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    .weather-item-desc {
                        margin-top:10px;
                        margin-bottom:10px;
                        span {
                            background-color: #E56B1f;
                            color: white;
                            padding: 2px 5px;
                            border-radius: 5px;
                        }
                    }
                }                
            }
            .location-image {
                display:flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
        .forecasted-weather-header {
            margin-top: 10px;
            font-size:30px;
            font-weight: bold;
            color: #E56B1f;
        }
        .forecasted-weather {
            display: grid;
            /* mobile */
            @media only screen and (min-width : 320px) {
                grid-template-columns: 1fr 1fr;
            }            
            /* tablet */
            @media only screen and (min-width : 768px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            /* desktop */
            @media only screen and (min-width : 1224px) {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            
            // overflow-x: scroll;
            // padding: 20px 20px;
            .weather-item {
                // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border:1px solid #E56B1f;
                padding: 0 5px;
                margin-top:10px;
                margin-right:10px;
                border-top: 5px solid #E56B1f;
                .weather-item-data {
                    display:flex;
                    justify-content: center;
                    .temp:nth-of-type(2) {
                        margin-left:10px;
                        border-left:1px solid #E56B1f;
                        padding-left:10px;
                    }
                    .temp {
                        display:flex;
                        flex-direction: column;
                        .label {
                            display: inline-block;
                            font-size: 12px;
                        }
                        .value {
                            font-size: 16px;
                            margin-top: 5px;
                            display: inline-block;
                            font-weight: bold;
                            .celcius {
                                font-size: 10px;
                            }
                        }
                    }
                }
                .weather-item-desc {
                    text-align: center;
                    margin-top:10px;
                    margin-bottom:10px;
                }
            }
        }        
    }
}


.trip-form {
    margin-top: 10px;
    .form-container {
        width: 30%;
        margin:auto;
        text-align: center;
        padding:10px;
        .form-item {
            margin-top: 10px;
            label {
                color:#32064A;
                padding: 5px 10px;
                font-size: 18px;
                font-weight: bold;
            }
            input {
                font-size:20px;
                padding: 2px;
            }
        }
        button {
            margin-top: 10px;
            font-size:18px;
            padding: 5px 10px;
            background-color: #E56B1f;
            color:white;
            border-radius: 5px;
            border:none;
            cursor: pointer;
        }
    }
}



