.loader {
  border: 16px solid #32064a; /* Light grey */
  border-top: 16px solid #e56b1f; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 50px;
  .wait-text {
    font-weight: bold;
    color: #32064a;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
